.Poster_Image {
  width: 330px;
  height: 99%;
  margin-right: 11px;
  margin-bottom: 5px;

  @media (max-width: 900px) {
    width: 206px;
    height: 332px;
  }

  @media (max-width: 464px) {
    width: 160px;
    height: 268px;
  }
}
.FilmPoster img {
  max-width: 100%;
}
.FilmPoster {
  position: relative;
}
.FilmPoster:hover .SliderItem_Hover {
  opacity: 1;
}
.SliderItem_Hover {
  @media (max-width: 899px) {
    opacity: 1;
  }
}
.SliderItem_Icon {
  cursor: pointer;

  @media (max-width: 899px) {
    display: none;
  }
}
.Poster {
  position: relative;
}
.Poster img {
  width: 171px;
  height: 273px;
}

.ProfileHover {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
.PosterHover_Title{
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}
.PosterHover_Year{
  font-size: 18px;
  margin-top: 16px;
}