.PosterList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.FilmPoster,
.Poster {
  flex-grow: 1;
  position: relative;
  width: 23%;
  margin: 5px;
  background-color: white;
}

.Poster_Image {
  width: 100%;
  height: auto;
}

@media (max-width: 1000px) {
  .FilmPoster,
  .Poster {
    width: 31.33%;
  }
}

@media (max-width: 650px) {
  .FilmPoster,
  .Poster {
    width: 48%;
  }
}

@media (max-width: 350px) {
  .FilmPoster {
    width: 100%;
  }
}
.FilmPoster:hover .SliderItem_Hover {
  opacity: 1;
}
.SliderItem_Hover {
  @media (max-width: 899px) {
    opacity: 1;
  }
}

.PosterHover_Title {
  max-width: 100%;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  display: inline-block;
}
.PosterHover_Year {
  font-size: 18px;
  margin-top: 16px;
}
.SliderItem_Icon {
  cursor: pointer;

  @media (max-width: 899px) {
    display: none;
  }
}
