.ProfilePage_Wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

.ProfilePage_Items {
  margin: 10px;
}

.ProfilePage_Item {
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.ProfilePage_ItemWrapper {
  display: flex;
  gap: 15px;
}

.ItemPoster {
  width: 180px;

  @media (max-width: 700px) {
    width: 130px;
    height: 200px;
  }
}
.ItemPoster_Img {
  width: inherit;
  height: inherit;
}

.ItemBody_Header {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.Vote_Average {
  width: 40px;
}

.Item_Title {
  font-size: 23px;

  @media (max-width: 700px) {
    font-size: 19px;
    font-weight: 500;
  }
}
.Item_Release {
  font-size: 19px;
  color: rgba(240, 255, 255, 0.707);

  @media (max-width: 700px) {
    font-size: 15px;
    margin-top: 5px;
  }
}

.Item_FlexEnd {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 185px;
}
.Item_Captions {
  margin-top: 20px;
  font-size: 20px;

  @media (max-width: 520px) {
    font-size: 17px;
    margin-top: 5px;
  }
}

.Item_Buttons {
  display: flex;
  text-align: center;
  font-size: 25px;
  gap: 20px;
  margin-top: 10px;

  .Button {
    display: flex;
    gap: 5px;
    font-size: inherit;
  }
  @media (max-width: 630px) {
    justify-content: center;
    font-size: 23px;
  }
  @media (max-width: 440px) {
    gap: 35px;
    font-size: 30px;
  }
}
.Main_Item_Buttons {
  @media (max-width: 630px) {
    display: none;
  }
}
.Adaptive_Item_Buttons {
  @media (min-width: 631px) {
    display: none;
  }
}
.Button_Name {
  @media (max-width: 440px) {
    display: none;
  }
}

.Watchlist_Wrapper {
  max-width: 1400px;
  margin: 0 auto;
  .Title {
    margin-left: 15px;
    @media (max-width: 520px) {
      font-size: 16px;
    }
  }
}
.Avatar_Wrapper {
  position: relative;
}
.Avatar_Content {
  display: flex;

  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: 610px) {
    max-width: 140px;
    max-height: 140px;
  }
}

.Profile {
  display: flex;
  justify-content: center;
  height: 230px;

  @media (max-width: 440px) {
    height: 270px;
  }
}

.ImgFone {
  width: 100%;
  height: 100%;
}

.Profile_Wrapper {
  width: 1400px;
  margin-top: 60px;
  margin-left: 20px;

  display: flex;
  gap: 45px;

  @media (max-width: 850px) {
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 520px) {
    gap: 20px;
  }
}
.Profile_Avatar {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  align-items: center;

  @media (max-width: 850px) {
    width: 100px;
    height: 100px;
  }
}
.Avatar_Img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Profile_AvatarEdit {
  position: absolute;
  bottom: -10px;
  right: 0;
  font-size: 35px;
  cursor: pointer;
}
.Profile_Description {
  display: flex;
  align-items: center;
}
.Profile_DescriptionFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Profile_Name {
  display: flex;
  font-size: 40px;
  font-weight: 450;
  gap: 10px;

  .Name {
    @media (max-width: 520px) {
      font-size: 32px;
    }
  }
  @media (max-width: 630px) {
    flex-direction: column;
  }
}

.Profile_Nav {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.List {
  display: flex;
  gap: 20px;
  font-size: 16px;

  @media (max-width: 450px) {
    gap: 10px;
  }
}

.watchlist-item {
  position: relative;
  display: flex;
  gap: 5px;
}
.overview-item {
  position: relative;
  display: flex;
  gap: 5px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: black;
  padding: 0;
  margin: 0;
  border: 1px solid #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  opacity: 0.95;

  background-color: RGB(19, 19, 19);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Profile_Nav li:hover {
  background-color: RGB(31, 31, 31);
}
.submenuWatchList {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: black;
  padding: 0;
  margin: 0;
  border: 1px solid #7c7c7c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  opacity: 0.95;
  width: 109px;
  border: 1px solid #444;
  background-color: RGB(19, 19, 19);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  li {
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
  }
}
.submenuLastChild {
  border-top: 1px solid #7c7c7c;
  margin-top: 10px;
}
.submenu li {
  padding: 8px 10px;
  cursor: pointer;
  display: flex;
}

.favorites-item {
  position: relative;
  display: inline-block;
}

.submenu-right {
  width: 80px;
  position: absolute;
  top: 0;
  right: -120%;
  list-style-type: none;
  background-color: RGB(19, 19, 19);
  padding: 0;
  margin-left: 100%;
  margin-top: 20%;
  border: 1px solid #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: block;
  opacity: 0.95;
}

.Profile_MemberSince {
  display: flex;
  align-items: end;
  gap: 5px;
  font-size: 18px;
  color: RGB(177, 192, 195);
}

.Profile_Edit {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 20px;
  gap: 30px;
}
.Edit_Title {
  margin-bottom: 20px;
}
.Edit_Wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (max-width: 610px) {
    flex-direction: column;
    gap: 20px;
  }
}
.Edit_Inputs input {
  padding: 5px;
  font-size: 20px;
  width: 100%;
  margin-top: 10px;

  @media (max-width: 610px) {
    font-size: 18px;
    margin-top: 3px;
  }
}
.Edit_Inputs label {
  font-size: 20px;
}

.Item_Captions {
  overflow: hidden;
  position: relative;
  max-height: 4em;

  @media (max-width: 520px) {
    max-height: 7em;
  }
}

.TextWrapper {
  display: inline-block;
  position: relative;
  margin-right: -1em;
  padding-right: 1em;
}

.Ellipsis {
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  padding-left: 0.2em;
}

.Edit_Inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ErrorMessage,
.SuccessMessage {
  margin-top: 10px;
  color: #ff3b30;
}

.InputWrapper {
  margin-bottom: 20px;
}

.InputLabel {
  font-size: 16px;
  color: white;
}

.InputContainer {
  display: flex;
  align-items: center;
}

.InputWrapper_Input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
}

.ConfirmIcon {
  display: flex;
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
}

.SaveChangesButton {
  margin-top: 20px;
  font-size: 16px;
  background-color: #9e0000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.iButton {
  width: 100%;
}

.CloseIcon {
  font-size: 28px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
