.BG {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.attribution {
  margin-top: 1rem;
}

.token-link {
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  color: #007bff;
}

.session-button {
  margin-top: 1rem;

  color: white;
  font-size: 16px;
}

.register-link {
  margin-top: 2rem;
  font-size: 20px;
  text-decoration: underline;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.Wrapper {
  max-width: 600px;
  max-height: 600px;

  box-shadow: 5px 5px 5px red;
  box-shadow: 3px 3px red, -0.3em 0 0.5em red;
}

.Form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.Form_Input {
  font-size: 18px;
  width: 450px;
  height: 50px;
  padding: 15px;

  border: 1px solid RGB(74, 74, 74);
  background-color: black;
  color: white;
  margin-bottom: 15px;
}

.Form_Input:hover,
.Form_Input:focus {
  border: 1px solid white;
}

.Form_Input:focus {
  border: 1px solid white;
}

.Form_Button {
  width: 100%;
  background-color: red;
  color: white;
  font-size: 20px;
  padding: 5px 0;
}

.error-text {
  display: flex;
  color: red;

  font-weight: 500;
  font-size: 18px;
  justify-content: center;
  margin-bottom: 10px;
}

.Guest_Button {
  text-align: center;
  margin-top: 20px;
}

.Guest_Button button {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Guest_Button button:hover {
  background-color: #b30000;
}