.swiper-slide {
  width: 90%;

  @media screen and (max-width: 450px) {
    width: 100%;
  }
}

.PhotosSwiper {
  position: relative;
  width: 100%;
  height: 100%;
}

.PhotosSwiper .mySwiper {
  width: 100%;
  height: 100%;
}

.Image {
  width: 100%;
  height: 100%;
}

.Image_Content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SectionPoster {
  width: 100%;
  height: 100%;
}
.swiper-button-prev button {
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10%);
  background: none;
  color: red;
  font-size: 40px;
  z-index: 999;
  height: 90%;
}
.swiper-button-next button {
  position: absolute;
  top: 0;
  right: 5px;
  transform: translateY(10%);
  background: none;
  color: red;
  font-size: 40px;
  z-index: 999;
  height: 90%;
}

.SwiperButtons button{
  @media screen and (max-width: 700px) {
	transform: translateY(20%);
    font-size: 30px;
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}
