.header {
  display: flex;
  width: 100%;
  min-height: 60px;
  align-items: center;
  font-size: 14px;
  position: fixed;
  z-index: 100;

  .header_wrapper {
    width: 1900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 24px 0 24px;

    .header_content {
      display: flex;
      align-items: center;
    }

    

    .header_btn_profile {
      color: white;
      background-color: red;
      padding: 6px 16px;
      font-size: 14px;
    }
  }
}
.scrolled_header {
  background-color: RGB(19, 19, 19);
}
.header_title {
  font-weight: 600;
  font-size: 27px;
  .header_title_word {
    margin-right: 24px;
    color: #ff0000;
  }
}

.header_list {
  display: flex;
  gap: 16px;
  color: white;
  line-height: 1.75;
  font-weight: 600;
  text-transform: uppercase;

  @media (max-width: 850px) {
    display: none;
  }
  .header_btn {
    padding: 6px 16px;
    color: white;
    border-radius: 4px;
  }
  .header_btn:hover {
    cursor: pointer;
    background-color: rgb(122, 0, 0);
  }
  .active {
    background-color: rgb(255, 0, 0) !important;
  }
}