.GlobalLoader {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.LinearProgressLoader_Wrapper {
  margin-top: 60px;
}

.CenterTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
