.MediaPage {
  width: 100%;
  height: 100vh;
  position: relative;
}
.MediaPage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  pointer-events: none;
}
.Backdrop_Container {
  display: flex;
}
.BackDrop {
  display: flex;
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: fixed;
}
.Continue_BackDrop {
  margin-top: calc(30vh + 20vw);
  width: 100%;
  z-index: 5;
  background-color: black;
  box-shadow: 0px -150px 100px rgba(0, 0, 0, 0.8);

  @media screen and (max-width: 930px) {
    margin-top: calc(50vh + 10vw);
  }
}
.MainSection_Wrapper {
  max-width: 1374px;
  margin: 0 auto;
  min-height: 1000px;
}
.Description {
  position: relative;
  z-index: 1;
  margin-top: -310px;
}
.Description_Image {
  max-width: 520px;

  @media screen and (max-width: 930px) {
    margin: 0 auto;
  }
}
.Description img {
  width: 100%;
  max-width: 520px;
  max-height: 730px;
  @media screen and (max-width: 930px) {
    max-width: 450px;
    max-height: 610px;
  }
}

.Description_Wrapper {
  display: flex;
  gap: 30px;
  margin: 0 20px 0 20px;

  @media (max-width: 1199px) {
    max-width: 1167px;
    justify-content: center;
  }

  @media (max-width: 930px) {
    flex-direction: column;
  }
}

.Description_Body {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  min-width: 530px;

  @media (max-width: 1199px) {
    width: 550px;
  }
  @media (max-width: 930px) {
    width: 100%;
    max-width: none;
    min-width: 0;
  }
}
.Description_Title {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.235;

  @media (max-width: 1199px) {
    font-size: 32px;
  }
}

.MovieVoteAndGenres {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  align-items: center;
}
.Genre {
  .Genre_List {
    display: flex;
    gap: 10px;

    .Genre_List_Item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      background-color: red;
      height: 22px;
      padding: 15px;
      border-radius: 16px;
      background-color: red;
    }
  }
}
.Genre_List {
  display: flex;
  flex-wrap: wrap;
}

.Description_Overview {
  margin-top: 40px;
  font-size: 20px;

  @media (max-width: 1199px) {
    font-size: 18px;
  }
}
.Description_Button {
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;

  .MediaPage_WatchNowBtn {
    @media screen and (max-width: 344px) {
      order: 2;
    }
  }

  @media (max-width: 600px) {
    justify-content: center;
  }
  @media screen and (max-width: 344px) {
    flex-wrap: wrap;
  }
}
.btn_WatchNow {
  text-transform: uppercase;
  display: inline-flex;
  font-size: 15px;
  cursor: pointer;
  line-height: 1.75;
  font-weight: 500;
  padding: 8px 22px;
  background-color: #ff0000;
  min-width: 64px;
  border-radius: 4px;
  text-wrap: nowrap;
}
.MainSectionVideo {
  position: relative;
  z-index: 8;
  background-color: black;
  padding-top: 10px;
}

.SliderActors {
  margin-top: 40px;
  width: 100%;

  @media screen and (max-height: 400) {
    height: 100%;
    max-height: 325px;
  }
}

.MainSectionVideo {
  padding-top: 32px;
}

.MainSectionVideo_Container {
  max-width: 1334px;

  margin: 0 auto;
}
.MainSectionVideo_Wrapper {
  margin: 70px 20px 0 20px;
}
.Section {
  margin-top: 80px;
}
.Image {
  width: 1000px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

//.Image_Content {
//  max-width: 100%;
//  max-height: 100%;
//  width: auto;
//  height: auto;
//}
.Image_Content {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: fill;
}

.MediaPage_WatchNowBtn:hover {
  color: white;
}

.animated-section {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: 200px 500px;

  @media (max-width: 930px) {
    animation-range: 100px 500px;
  }
}
@media screen and (min-width: 931px) {
  .Description_Button + section {
    scale: 1;
    opacity: 1;
    animation: none;
  }
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}
